# Entorno virtual de Python
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Configuración local de VS Code
.vscode/

# Archivos temporales
*.tmp
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Datos originales del proyecto
data/raw/*.xlsx
data/raw/*.csv

# Notebooks de trabajo previo
notebooks/


