Veronica Duran Cisterna <vedurancisterna@gmail.com>
Veronica Duran Cisterna <vedurancisterna@gmail.com> vedurancisterna-alt <vedurancisterna@gmail.com>
Veronica Duran Cisterna <vedurancisterna@gmail.com> <v.durancisterna@uandresbello.edu>
Daniela Rojas <dany.arv@gmail.com>
Daniela Rojas <dany.arv@gmail.com> <d.rojasvilches1@uandresbello.edu>
Manuel Sánchez <msanchez21@gmail.com>
Manuel Sánchez <msanchez21@gmail.com> <m.sanchezcarcamo@uandresbello.edu>
Manuel Sánchez <msanchez21@gmail.com> <m.sanchezcarcamo@uandresbello.cl>
Manuel Sánchez <msanchez21@gmail.com> Landexplorer <Landexplorer@users.noreply.github.com>
Raúl Moya Arriagada <ralmoyaa@gmail.com>
Raúl Moya Arriagada <ralmoyaa@gmail.com> Raúl Moya <ralmoyaa@gmail.com>
Raúl Moya Arriagada <ralmoyaa@gmail.com> <raulmoyaa@gmail.com>
